@page "/invoice"
@attribute [Authorize]
@inject HttpClient Http

<h3>Invoice</h3>

<div>
    <h4>Creat Invoice </h4>
    <p>Select Invoice Type</p>
    <div>
        <div>Select Employer</div>
        <div>Select Year</div>
        <div>Select Month</div>
        <div>You worked X hours during this month</div>
        <br />
        <div>You have X hours left to invoice before YMonth</div>
        <div>Add X hours to invoice</div>
        <div>Max X hours for invoice</div>
        <br />
        <button>Create invoice with X hours</button>
    </div>
        <br />
        <br />
</div>

<hr />

@if (employers == null)
{
    <p><em>Loading Employers...</em></p>
}
else
{
    <p>Selected Employer: @employers.First().Name</p>
}

@if(invoices == null)
{
    <p>Loading Invoices ...</p>
}
else
{
    <p>Simple filtering here</p>
    <table class="table">
        <thead>
            <tr>
                <th>Duration</th>
                <th>Period</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in invoices)
            {
                <tr>
                    <td>@GetDurationString(invoice.TotalTime)</td>
                    <td>@invoice.StartDate.ToString(monthFormat) - @invoice.EndDate.ToString(monthFormat)</td>
                    <td>@invoice.CreationDate.ToString(timeFormat)</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<EmployerModel>? employers;
    private List<InvoiceModel>? invoices;

    private string monthFormat = "dd/MM HH:mm";
    private string timeFormat = "dd/MM HH:mm";
    private string postFormat = "yyyy-MM-dd";

    private string GetDurationString(TimeSpan duration)
    {
        return Math.Round(duration.TotalHours, 2).ToString();
    }

    protected override async Task OnInitializedAsync()
    {
        var start = DateTime.MinValue.AddYears(2011);
        var end = DateTime.Now;

        employers = await Http.GetFromJsonAsync<List<EmployerModel>>("api/Employer");
        invoices = await Http.GetFromJsonAsync<List<InvoiceModel>>("api/Invoice/" + employers.First().Id + "?start=" + start.ToString(postFormat) + "&end=" + end.ToString(postFormat));
    }
}